

<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Arimo|Roboto+Slab" rel="stylesheet">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" href="../../favicon.ico">

    <title>Snafu</title>

  </head>
      {% block head %}
    <div style="font-family: 'Arimo', sans-serif;background-color: #34495E;margin-top:0px;">
      <div>
      <nav class="navbar fixed-bottom navbar-light" style="background-color: #21618C;opacity:0.94;">
        {% if user.is_authenticated %}
    <a class="navbar-brand" href="/home/" style="font-family: 'Roboto Slab', serif;color:white;">Blizz</a>
        {% else %}
        <span class="navbar-brand" style="font-family: 'Roboto Slab', serif;color:white;">Blizz</span>
        {% endif %}
        {% if user.is_authenticated %}
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" style="background-color:#21618C;border-color:transparent"><i class="ion-chevron-up" id="btntg"></i></button>
      {% else %}
      {% endif %}
    <div class="collapse navbar-collapse" id="navbarText">
      {% if user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home/" style="color:white">Home</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="/accounts/profile" style="color:white">Profile</a>
        </li>
        <li><a class="nav-link active" href="/accounts/about" style="color:white">About</a></li>
        <li><a class="nav-link active" href="/accounts/logout" style="color:white">Logout</a></li>
      </ul>



        {% else %}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          </li>
          </ul>
        {% endif %}
    </div>
  </nav>
      </div>

          </div>
      {% endblock %}


    {% block body %}
    {% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script type="text/javascript">
	document.getElementById("btntg").addEventListener("click", function (e) {
    var target = e.target;

    target.classList.toggle("ion-chevron-up");
    target.classList.toggle("ion-chevron-down");
}, false);
</script>
</html>
